.header nav{
    flex: 50%;
    margin:3% 4%;
}

.header nav ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style-type:none;
}

.header nav ul li a{
    text-decoration: none;
    color: rgb(0, 110, 255);
    font: 500 15px arial;
    padding: 5px;
    cursor: pointer;
}

.header nav ul li a:hover{
   color: rgb(96, 159, 241);
   border-bottom:2px solid  rgb(96, 159, 241);
   transition: all 1s;
   
}